﻿@model WebBanHang.Models.Product
@{
    ViewData["Title"] = "Display";
}
<h2>Product Details</h2>

<a asp-action="Index" class="btn btn-info">Back to List</a>


<div class="container mt-4">
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-md-9">
            <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
            <div class="row">
                <!-- Sản phẩm -->
                <div class="col">
                    <div class="card">
                        <img src="@Model.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text">@Model.Price</p>
                        </div>
                        <div style="display:flex" class="row row-cols-1 row-cols-md-3 g-4">
                            @if (Model.ImageUrls != null)
                            {
                                foreach (var imageUrl in Model.ImageUrls)
                                {
                                    <img class="col" src="@imageUrl" alt="Product Image" style=" height: auto; display:inline-block;" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="bg-primary text-white p-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Facebook</a></li>
                    <li><a class="text-white" href="#">Twitter</a></li>
                    <li><a class="text-white" href="#">Instagram</a></li>
                    <li><a class="text-white" href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>